{% load static %}
{% block body %}

<html>
<head>
<title>Hotel Booking Management System | Hotel :: Change Password</title>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
 <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
<script type="text/javascript">
function checkpass()
{
if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value)
{
alert('New Password and Confirm Password field does not match');
document.changepassword.confirmpassword.focus();
return false;
}
return true;
}

</script>
</head>
<body>
		<!--header-->
			<div class="header head-top">
				<div class="container">
			{% include 'header.html' %}
		</div>
</div>
<!--header-->
		<!--about-->

			<div class="content">
				<div class="contact">
				<div class="container">

					<h2>Change Password !!!!!!</h2>

				<div class="contact-grids">

						<div class="col-md-6 contact-right">
							<form method="post" onsubmit="return checkpass();" name="changepassword">
                            {% csrf_token %}
								<h5>Current Password</h5>
								<input type="password" class="form-control" style="font-size: 20px" required="true" name="currentpassword">
								<h5>New Password</h5>
								<input type="password" class="form-control"  required="true" name="newpassword" style="font-size: 20px">
								<h5>Confirm Password</h5>
								<input type="password" class="form-control"  required="true" name="confirmpassword" style="font-size: 20px" >

								<br />

								<br/>
								 <input type="submit" value="Change" name="submit">
						 	 </form>

						</div>
						<div class="col-md-6 contact-right">

						 	 <img src="{% static 'images/img.jpg' %}" width="400" height="400" />

						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		 {% include 'getintouch.html' %}
			</div>
			{% include 'footer.html' %}
</html>

{% ifequal error "yes" %}
<script>
    alert('Password Changed.....');
    window.location=('{% url 'logout' %}')
</script>
{% endifequal %}
{% ifequal error "not" %}
<script>
    alert('New Password and Confirm Password are not match');
</script>
{% endifequal %}
{% endblock %}



